<div class="search-meetings">
  <div class="chevron">
      <%= link_to meetings_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>
  <h2 class="page-title">Edit a meeting</h2>
</div>



<div class="full-screen">
  <%= simple_form_for [@meeting] do |f| %>
    <%= f.input :title, as: :string, required: true, label: false, placeholder: "Title" %>
    <%= f.input :location, as: :string, required: true, label: false, placeholder: "Location"  %>
    <%= f.input :start_time, as: :string , input_html: {class: "datepicker"}, label: "From" %>
    <%= f.input :end_time, as: :string , input_html: {class: "datepicker"}, label: "To" %>
  <% end %>

  <div class="footer">
			<div class="button-center">
				<a href="#" onclick="document.getElementById('edit_meeting_<%= @meeting.id %>').submit();"><i class="fas fa-save"></i></a>
		    </div>
		<div class="footer-content">
			<%= link_to pages_welcome_path do %>
				<i class="fas fa-home"></i>
			<% end %>
			<%= link_to contacts_path do %>
				<i class="fas fa-user"></i>
			<% end %>
		</div>
	</div>

</div>
