<div class="search-meetings">
  <div class="chevron">
      <%= link_to contacts_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>
  <h2><strong>Meetings.</strong></h2>
</div>





<div class="d-flex align-items-center justify-content-center scroll top-margin bot-margin">
  <ul id="myUL-meeting">
    <% @meetings.each do |meeting| %>

    <% @sum = 0 %>
    <% meeting.contacts.each do |contact| %>
      <% @questions = contact.questions %>
      <% if @questions.count.zero?  %>
        <% @percentage = 0 %>
      <% else %>
        <% @percentage = @questions.where(score: 100).count * 100 / @questions.count  %>
      <% end %>
    <% @sum = @percentage + @sum %>
    <% end %>
    <% @final_percentage = meeting.contacts.count.zero? ? 0 : @sum / meeting.contacts.count %>

      <li>
        <%= link_to meeting_path(meeting) do %>
          <div class="info-meeting">
              <div class="d-flex date">
                <%= meeting.start_time&.strftime("%B %e ") %>
                <div>
                  <% meeting.contacts.take(3).each do |contact|%>
                    <%= cl_image_tag contact.photo.key, class: "contacts-pictures" %>
                  <% end %>
                </div>
                <div class="score-meeting">
                  <%= link_to new_contact_answer_path(meeting.contacts.take(1)) do %>
                      <%= @final_percentage %>%
                    <% end %>
                </div>

              </div>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="footer">
    <div class="button-center">
      <%= link_to new_meeting_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>

    <div class="footer-content">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
      <%= link_to root_path do %>
        <i class="fas fa-user"></i>
      <% end %>
    </div>
  </div>
