

<div class="full-screen">
  <h1 class="title">Create a meeting</h1>
  <%= simple_form_for [@meeting] do |f| %>
    <%= f.input :location, as: :string, required: false  %>
    <%= f.input :start_time, as: :string , input_html: {class: "datepicker"}%>
    <%= f.input :end_time, as: :string , input_html: {class: "datepicker"}%>
    <%= f.submit "Save", class: "button-secondary" %>
  <% end %>

</div>
