<h1>Answers</h1>

<%= @questions %>

<% @score_final = 0 %>

<% @questions.each do |question| %>
  <% if question.score =! nil %>
    <li><%= question.question %></li>
    <li><%= question.score.to_i %></li>
  <% @score_final = @score_final + question.score %>
  <% end %>
<% end %>



Your points with <%= @contact.first_name %>:

<%= @score_final %>

