<div class="full-screen">
  <div class="chevron">
    <%= link_to contact_path(@contact) do %>
      <div>
        <i class="fas fa-chevron-left"></i>
      </div>
    <% end %>
  </div>
    <h2 class="text-align-center">Quiz</h2>

  <p>Your progress: <%= @percentage %>% </p>

<div class="question">
  <%= @question.question %>
</div>

  <div class="options">
    <div id="yes-button" class="yes">
      <%= image_tag("yes.png") %>
    </div>
    <div id="no-button" class="no">
      <%= image_tag("no.png") %>
    </div>
  </div>

    <%= simple_form_for [@contact, @answer] do |f| %>
      <%= f.input :answer, as: :hidden, required: false %> <%# use inspector to find the id that simple form has given it %>
      <%= f.hidden_field :question_id  %>
      <%= f.submit "", required: false, id: "submit-answer", class: "invisible" %>
<!--       <%= f.submit "Next", class: "button", id: "submit-answer" %> -->
    <% end %>



    <%= link_to new_contact_answer_path(@contact) do %>
    <div class="button">
      Skip
    </div>
    <% end %>



  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag "application" %>



</div>
