<div class="chevron">
  <%= link_to pages_welcome_path do %>
    <div>
      <i class="fas fa-chevron-left"></i>
    </div>
  <% end %>
</div>
<h2 class="page-title">Quiz</h2>

<div class="question">
  <%= @question.question %>
</div>



<div class="full-screen">

  


  <div class="options">
    <div class="message">
      <%= notice %>
    </div>
    <div class="buttons">
      <div id="yes-button" class="yes opt">
        <i class="fas fa-check-circle"></i>
      </div>
      <div id="no-button" class="no opt">
        <i class="fas fa-times-circle"></i>
      </div>
    </div>
  </div>

  <p>Your progress: <%= @percentage %>% </p>

    <%= simple_form_for [@contact, @answer] do |f| %>
      <%= f.input :answer, as: :hidden, required: false %> <%# use inspector to find the id that simple form has given it %>
      <%= f.hidden_field :question_id  %>
      <%= f.submit "", required: false, id: "submit-answer", class: "invisible" %>
<!--       <%= f.submit "Next", class: "button", id: "submit-answer" %> -->
    <% end %>


    <div class="footer">
      <div class="button-center">
        <%= link_to new_contact_answer_path(@contact) do %>
          <i class="fas fa-forward"></i>
        <% end %>
      </div>

      <div class="footer-content">
        <%= link_to pages_welcome_path do %>
          <i class="fas fa-home"></i>
        <% end %>
        <%= link_to contacts_path do %>
          <i class="fas fa-user"></i>
        <% end %>
      </div>
    </div>



  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= javascript_pack_tag "application" %>



</div>
