<div class="welcome-container">

  <div class="kevin">
    <p>Kevin.</p>
  </div>

  <div class="welcome-user">

  </div>

  <div class="alerts">
    <p>Welcome back</p>

  </div>

      <div class="info-score">
        <div class="clock">
          <%= link_to meetings_path do %>
                <div class="c100 p<%=@meeting_percentage%> big <%= color(@meeting_percentage) %>">
                    <span><%= @meeting_percentage %>%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
          <% end %>
        </div>
        <div>
          <p><%= @phrase %> <strong><%= @meeting_percentage %>%</strong> about the friends at that meeting. <%= @phrase2 %></p>
        </div>
      </div>
    </div>


    <div class="background-welcome">
      <div class="block1">
        <div class="icons-welcome">
          <div class="icons-with-text">
            <div class="icons-background">
              <%= link_to contacts_path do %>
                <i class="fas fa-user"></i>
              <% end %>
            </div >
            <p>FRIENDS</p>
          </div>

            <div class="icons-with-text">
              <div class="icons-background">
                <%= link_to stories_path do %>
                  <i class="fas fa-book-open"></i>
                <% end %>
              </div >
              <p>MEMORIES</p>
            </div>
      </div>

      <div class="block2">
         <div class="icons-welcome">
          <div class="icons-with-text">
            <div class="icons-background">
              <%= link_to meetings_path do %>
                <i class="fas fa-user-friends"></i>
              <% end %>
            </div >
            <p>MEETINGS</p>
          </div>
            <div class="icons-with-text">
              <div class="icons-background-quiz">
                <%= link_to answers_home_path do %>
                  <i class="fas fa-question"></i>
                <% end %>
              </div >
              <p>QUIZ</p>
            </div>
      </div>

</div>


