<div class="welcome-container">

  <div class="kevin">
    <p>Kevin.</p>
  </div>

  <div class="welcome-user">
    <p>Welcome back Jeff!</p>
  </div>

    <div class="infos-top">
      <div class="info-score">
        <div class="">
          <%= link_to answers_home_path do %>
              <% if @percentage == 0 %>

                <div class="c100 p100 small <%=@color%>">
                    <span><%= @percentage %>%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>

              <% else %>

                <div class="c100 p<%=@percentage%> small <%=@color%>">
                    <span><%= @percentage %>%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>
        <p>How much you know about your friends</p>
      </div>

      <div class="info-score">
        <div class="clock">
          <%= link_to meetings_path do %>
            <% if @meeting_percentage == 0 %>

                <div class="c100 p100 small <%=@color%>">
                    <span><%= @meeting_percentage %>%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>

              <% else %>

                <div class="c100 p<%=@meeting_percentage%> small <%=@color%>">
                    <span><%= @meeting_percentage %>%</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
            <% end %>

          <% end %>
        </div>
        <div>
          <p>You have a new meeting starting at <%= @meeting.start_time&.strftime("%I:%M%p") %></p>
        </div>
      </div>
    </div>


    <div class="background-welcome">
      <div class="block1">
        <div class="icons-welcome">
          <div class="icons-with-text">
            <div class="icons-background">
              <%= link_to contacts_path do %>
                <i class="fas fa-user"></i>
              <% end %>
            </div >
            <p>FRIENDS</p>
          </div>

            <div class="icons-with-text">
              <div class="icons-background">
                <%= link_to stories_path do %>
                  <i class="fas fa-book-open"></i>
                <% end %>
              </div >
              <p>MEMORIES</p>
            </div>
      </div>

      <div class="block2">
         <div class="icons-welcome">
          <div class="icons-with-text">
            <div class="icons-background">
              <%= link_to meetings_path do %>
                <i class="fas fa-user-friends"></i>
              <% end %>
            </div >
            <p>MEETINGS</p>
          </div>
            <div class="icons-with-text">
              <div class="icons-background-quiz">
                <%= link_to answers_home_path do %>
                  <i class="fas fa-question"></i>
                <% end %>
              </div >
              <p>QUIZ</p>
            </div>
      </div>

</div>


