<div class="search-contact">
	<h2><strong>Friends.</strong></h2>
	<input type="text" name="search" placeholder="Enter a name" id="myInput" onkeyup="myFunction()">
</div>

<div class="d-flex align-items-center justify-content-center scroll top-margin bot-margin">
	<ul id="myUL">
		<% @contacts.each do |contact| %>
			<li>
				<div class="d-flex align-items-center justify-content-start my-3">
				<% begin %>
			      <%= cl_image_tag contact.photo.key, class: "picture-index" %>
			    <% rescue %>
			      <img src="https://vignette.wikia.nocookie.net/real-life-heroes/images/2/2c/Michael_Jackson.jpg/revision/latest?cb=20191122190551" class="picture-index">
			    <% end %>
					<%= link_to contact_path(contact) do %>
						<%= contact.first_name.capitalize %> <%= contact.last_name.capitalize %>
					<% end %>
				</div>
			</li>

		<% end  %>
	</ul>
</div>

<div class="footer">
	<div class="button-center">
		<%= link_to new_contact_path do %>
			<i class="fas fa-plus"></i>
		<% end %>
	</div>

	<div class="footer-content">
	<%= link_to pages_welcome_path do %>
		<i class="fas fa-home"></i>
	<% end %>
<<<<<<< HEAD
	<%= link_to stories_path do %>
		<i class="fas fa-book-open"></i>
=======
	<%= link_to contacts_path do %>
		<i class="fas fa-user"></i>
>>>>>>> ac7a2d5b19c2dbd8113ce605b7c4d8a5f8046eb5
	<% end %>
	</div>
</div>


<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
