<div class="chevron">
  <%= link_to contacts_path do %>
    <div>
      <i class="fas fa-chevron-left"></i>
    </div>
  <% end %>
</div>
<h2 class="page-title">Create a new friend</h2>

<div class="full-screen">
	<%= simple_form_for [@contact] do |f| %>
		<%= f.input :first_name, as: :string, required: false, label: false, placeholder: "Kevin" %>
		<%= f.input :last_name, as: :string, required: false, label: false, placeholder: "Williams" %>
		<%= f.input :birthday %>
		<%= f.input :meeting_location, label: false, placeholder: "At Sarah Brampton's birthday!" %>
    	<%= f.input :photo, as: :file, label: "Upload a profile picture" %>


		<div class="footer">
		    <div class="button-center">
				<a href="#" onclick="document.getElementById('new_contact').submit();"><i class="fas fa-save"></i></a>
		    </div>

		    <div class="footer-content">
		    	<%= link_to pages_welcome_path do %>
		        	<i class="fas fa-home"></i>
		    	<% end %>
				<%= link_to contacts_path do %>
					<i class="fas fa-user"></i>
				<% end %>
		    </div>
		</div>
	<% end %>

</div>
