<div class="chevron">
	<%= link_to contacts_path do %>
		<i class="fas fa-chevron-left"></i>
	<% end %>
</div>

<div class="info">
	<div class="picture-container">
	      <% begin %>
            <%= cl_image_tag @contact.photo.key, class: "picture" %>
          <% rescue %>
            <img src="https://vignette.wikia.nocookie.net/real-life-heroes/images/2/2c/Michael_Jackson.jpg/revision/latest?cb=20191122190551" class="picture">
          <% end %>
	</div>

	<div class="information">
		<%= link_to edit_contact_path do %>
			<div class="name">
				<%= @contact.first_name.capitalize %> <%= @contact.last_name.capitalize %>
			</div>
		<% end %>
		<div class="icons">
			<div class="text">
				<div class="icon">
					<i class="fas fa-birthday-cake" style="margin-right: 5px; font-size: 12px"></i><%= @contact.birthday %>
				</div>
				<div class="icon">
					<i class="fas fa-users" style="margin-right: 5px; font-size: 12px"></i><%= @contact.meeting_location %>
				</div>

			</div>
			<div class="score">
				<%= link_to new_contact_answer_path(@contact) do %>
					<div class="results">
						  <%= @percentage %>%
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="background">
	<div class="boxes">

		<div class="box">
			<div class="actions">
				<strong>LIKES</strong>
				<div class="add" id="trigger_like"><i class="fas fa-plus-circle"></i></div>
					<div class="d-none" id="like_input">
						<%= simple_form_for [@contact, @liked] do |f| %>
				          <%= f.input :tag, label: false, as: :string, required: true %>
				          <%= f.input :liked, :as => :hidden, :input_html => { :value => true } %>
				        <% end %>
					</div>
		    </div>

			<div class="tags">
				<% likes = Like.includes(:tag).where(contact_id: @contact.id).order('tags.name')%>
				<% likes.where(liked: true).each do |like| %>
				<div class="tag">
					<%= like.tag.name.capitalize %>
					<%= link_to contact_like_path(@contact, like), method: :delete do %>
						<i class="fas fa-times"></i>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>


		<div class="box">
			<div class="actions">
				<strong>DISLIKES</strong>
				<div class="add" id="trigger_like"><i class="fas fa-plus-circle"></i></div>
          <div class="d-none" id="like_input">
            <%= simple_form_for [@contact, @liked] do |f| %>
                  <%= f.input :tag, label: false, as: :string, required: true %>
                  <%= f.input :liked, :as => :hidden, :input_html => { :value => false } %>
                <% end %>
          </div>
			</div>

			<div class="tags">
				<% likes = Like.includes(:tag).where(contact_id: @contact.id).order('tags.name')%>
				<% likes.where(liked: false).each do |like| %>
				<div class="tag">
				  	<%= like.tag.name.capitalize %>
				  	<%= link_to contact_like_path(@contact, like), method: :delete do %>
							<i class="fas fa-times"></i>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>




		<div class="box">
			<div class="actions">
				<strong>MEMORIES</strong>
				<%= link_to new_story_path do %>
					<div class="add"><i class="fas fa-plus-circle"></i></div>
				<% end %>
			</div>

			<div class="tags">
				<% @contact.stories.each do |story| %>
					<%= link_to story_path(story) do %>
						<div class="tag">
				  			<div><%= story.title %></div>
						</div>
				  	<% end %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="button-center">
			<%= link_to edit_contact_path do %>
				<i class="fas fa-pen"></i>
			<% end %>
		</div>

		<div class="footer-content">
			<%= link_to pages_welcome_path do %>
				<i class="fas fa-home"></i>
			<% end %>
			<%= link_to root_path do %>
				<i class="fas fa-user"></i>
			<% end %>
		</div>
	</div>
</div>

<%= javascript_pack_tag "add_tags" %>
