<div class="header">
	<%= link_to contacts_path(@contact) do %>
		<div>
			<i class="fas fa-chevron-left""></i>
		</div>
	<% end %>
	<h4>Profile</h4>
</div>

<div class="info">
	<div class="picture-container">
		<!-- <%= cl_image_tag @contact.photo.key %>  -->
		<img class="picture" src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"></img>
	</div>

	<div class="information">
		<div class="name">
			<%= link_to edit_contact_path do %>
				<%= @contact.first_name.capitalize %> <%= @contact.last_name.capitalize %>
			<% end %>
		</div>
		<%= link_to new_contact_answer_path(@contact) do %>
			<div class="results">
				80%
			</div>
		<% end %>
	</div>
	<div>
		<i class="fas fa-birthday-cake"></i><%= @contact.birthday %> 
		<br>
		<i class="fas fa-users"></i><%= @contact.meeting_location %>
	</div>

</div>



<div class="boxes">

				<div class="box">
					<div class="actions">
						<div><strong>Likes</strong></div>
						<%= link_to new_contact_like_path(@contact) do  %>
								<div class="button-round"><div>+</div></div>
						<% end %>
					</div>

					<div class="tags">
							<% likes = Like.where(contact_id: @contact.id)  %>
							<% likes.where(liked: true).each do |like| %>
							<div class="tag"><%= like.tag.name.capitalize %></div>
						<% end %>
					</div>

								
				</div>

				<div class="box">
					<div class="actions">
						<div><strong>Dislikes</strong></div>
						<%= link_to new_contact_like_path(@contact) do %>
							<div class="button-round"><div>+</div></div>
						<% end %>
					</div>

					<div class="tags">
						<% likes = Like.where(contact_id: @contact.id)  %>
						<% likes.where(liked: false).each do |like| %>
						  <div class="tag"><%= like.tag.name.capitalize %></div>
						<% end %>
					</div>

					
				</div>
</div>
