<div class="jumbotron vertical-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="sm-col-4">
				<div class="picture-container">
					<img class="picture" src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"></img>
				</div>
				<div class="name">
					<%= @contact.first_name.capitalize %> <%= @contact.last_name.capitalize %>
				</div>

				<div class="box">
				<div> 
					<% likes = Like.where(contact_id: @contact.id)  %>
					Likes:
					<% likes.where(liked: true).each do |like| %>
					  <%= like.tag.name %>
					<% end %>
					<%= link_to "+", new_contact_like_path(@contact), class: "button-round" %>
				</div>
								
				</div>

				<div class="box">
					<p>Dislikes</p>

					Don't like:
					<% likes.where(liked: false).each do |like| %>
					  <%= like.tag.name %>
					<% end %>
					<%= link_to "Add a dislike", new_contact_like_path(@contact) %>
				</div>
			</div>
		</div>
	</div>
</div>