<div class="jumbotron vertical-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="sm-col-4">
				<div class="picture-container">
					<img class="picture" src="https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"></img>
				</div>
				<div class="information">
					<div class="name">
						<%= @contact.first_name.capitalize %> <%= @contact.last_name.capitalize %>
					</div>
					<div class="results">
						80%
					</div>
				</div>

				<div class="box">
					<div class="actions">
						<div><strong>Likes</strong></div>
						<%= link_to new_contact_like_path(@contact) do  %>
								<div class="button-round"><div>+</div></div>
						<% end %>
					</div>

					<% likes = Like.where(contact_id: @contact.id)  %>
					<% likes.where(liked: true).each do |like| %>
						<div class="rectangle"><%= like.tag.name.capitalize %></div>
					<% end %>
								
				</div>

				<div class="box">
					<div class="actions">
						<div><strong>Dislikes</strong></div>
						<%= link_to new_contact_like_path(@contact) do %>
							<div class="button-round"><div>+</div></div>
						<% end %>
					</div>

					<% likes = Like.where(contact_id: @contact.id)  %>
					<% likes.where(liked: false).each do |like| %>
					  <div class="rectangle"><%= like.tag.name.capitalize %></div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>