<div class="chevron">
	<%= link_to contacts_path do %>
		<i class="fas fa-chevron-left"></i>
	<% end %>
</div>

<div class="info">
	<div class="picture-container">

	      <% begin %>
            <%= cl_image_tag @contact.photo.key, class: "picture" %>
          <% rescue %>
            <img src="https://vignette.wikia.nocookie.net/real-life-heroes/images/2/2c/Michael_Jackson.jpg/revision/latest?cb=20191122190551" class="picture">
          <% end %>
	</div>

	<div class="information">
		<div class="name">
			<%= link_to edit_contact_path do %>
				<%= @contact.first_name.capitalize %> <%= @contact.last_name.capitalize %>
			<% end %>
		</div>
		<%= link_to new_contact_answer_path(@contact) do %>
			<div class="results">
				  <%= @percentage %>%
			</div>
		<% end %>
	</div>

</div>
	<div class="icons">
		<div class="icon">
			<i class="fas fa-birthday-cake" style="margin: 5px;"></i><%= @contact.birthday %>
		</div>
		<div class="icon">
			<i class="fas fa-users" style="margin: 5px;"></i><%= @contact.meeting_location %>
		</div>
	</div>



<div class="boxes">

				<div class="box">
					<div class="actions">
						<div><strong>Likes</strong></div>
						<%= link_to new_contact_like_path(@contact) do  %>
								<div class="button-round"><div>+</div></div>
						<% end %>
					</div>

					<div class="tags">
							<% likes = Like.where(contact_id: @contact.id)  %>
							<% likes.where(liked: true).each do |like| %>
							<div class="tag">
								<%= like.tag.name.capitalize %>
							</div>
						<% end %>
					</div>


				</div>

				<div class="box">
					<div class="actions">
						<div><strong>Dislikes</strong></div>
						<%= link_to new_contact_like_path(@contact) do %>
							<div class="button-round"><div>+</div></div>
						<% end %>
					</div>

					<div class="tags">
						<% likes = Like.where(contact_id: @contact.id)  %>
						<% likes.where(liked: false).each do |like| %>
						  <div class="tag"><%= like.tag.name.capitalize %></div>
						<% end %>
					</div>


				</div>

</div>
