<div class="chevron">
	<%= link_to contacts_path do %>
		<i class="fas fa-chevron-left"></i>
	<% end %>
</div>

<div class="info">
	<div class="picture-container">
	      <% begin %>
            <%= cl_image_tag @contact.photo.key, class: "picture" %>
          <% rescue %>
            <img src="https://vignette.wikia.nocookie.net/real-life-heroes/images/2/2c/Michael_Jackson.jpg/revision/latest?cb=20191122190551" class="picture">
          <% end %>
	</div>

	<div class="information">
		<%= link_to edit_contact_path do %>
			<div class="name">
				<%= @contact.first_name.capitalize %> <%= @contact.last_name.capitalize %>
			</div>
		<% end %>
		<div class="icons">
			<div class="icon">
				<i class="fas fa-birthday-cake" style="margin-right: 5px; font-size: 12px"></i><%= @contact.birthday %>
			</div>
			<div class="icon">
				<i class="fas fa-users" style="margin-right: 5px; font-size: 12px"></i><%= @contact.meeting_location %>
			</div>
		</div>
	</div>

	<div class="score">
		<%= link_to new_contact_answer_path(@contact) do %>
			<div class="results">
				  <%= @percentage %>%
			</div>
		<% end %>
	</div>

</div>



<div class="background">
	<div class="boxes">

		<div class="box">
			<div class="actions">
				<strong>LIKES</strong>
				<%= link_to new_contact_like_path(@contact) do  %>
						<div class="add"><i class="fas fa-plus-circle"></i></div>
				<% end %>
			</div>

			<div class="tags">
				<% likes = Like.where(contact_id: @contact.id)%>
				<% likes.where(liked: true).each do |like| %>
				<div class="tag">
					<%= like.tag.name.capitalize %>
					<%= link_to contact_like_path(@contact, like), method: :delete do %>
						<i class="fas fa-times"></i>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>

  
		<div class="box">
			<div class="actions">
				<strong>DISLIKES</strong>
				<%= link_to new_contact_like_path(@contact) do %>
					<div class="add"><i class="fas fa-plus-circle"></i></div>
				<% end %>
			</div>

			<div class="tags">
				<% likes = Like.where(contact_id: @contact.id)  %>
				<% likes.where(liked: false).each do |like| %>
				<div class="tag">
				  	<%= like.tag.name.capitalize %>
				  	<%= link_to contact_like_path(@contact, like), method: :delete do %>
							<i class="fas fa-times"></i>
					<% end %>
				</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="footer">
	<div class="button-center">
		<%= link_to edit_contact_path do %>
			<i class="fas fa-user-edit"></i>
		<% end %>
	</div>

	<div class="footer-content">
	<%= link_to root_path do %>
		<i class="fas fa-home"></i>
	<% end %>
	<%= link_to root_path do %>
		<i class="fas fa-user"></i>
	<% end %>
	</div>
</div>
