<div class="full-screen">

  <%= simple_form_for [@story] do |f| %>
    <%= f.input :title, as: :text, required: false  %>
    <%= f.input :date, as: :date %>
    <%= f.input :description, as: :text, required: false %>
    <%= f.submit "Save changes", class: "button-secondary" %>
  <% end %>
</div>