<div class="search-meetings">
  <div class="chevron">
      <%= link_to stories_path do %>
      <i class="fas fa-chevron-left"></i>
    <% end %>
  </div>
  <h2 class="page-title">Edit your memory</h2>
</div>


<div class="full-screen">
<%= link_to story_path(@story), method: :delete do %>
  <i class="fas fa-times"> Destroy this Memory</i>
<% end %>


  <%= simple_form_for [@story] do |f| %>
    <%= f.input :title, as: :text, required: false  %>
    <%= f.input :date, as: :string , input_html: {class: "datepicker-without"} %>
    <%= f.input :description, as: :text, required: false %>
    <%= f.input :photos, as: :file, :input_html => { :multiple => true } %>


    <div class="footer">
      <div class="button-center">
    <a href="#" onclick="document.getElementById('edit_story_<%= @story.id %>').submit();"><i class="fas fa-save"></i></a>
      </div>
      <div class="footer-content">
        <%= link_to pages_welcome_path do %>
          <i class="fas fa-home"></i>
        <% end %>
        <%= link_to contacts_path do %>
          <i class="fas fa-user"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
