	<div class="search-contact">
		<div class="chevron">
			<%= link_to contacts_path do %>
				<i class="fas fa-chevron-left"></i>
			<% end %>
		</div>
		<h2><strong>Memories.</strong></h2>
		<input type="text" name="search" placeholder="Search for a memory..." id="myInput" onkeyup="myFunction()">
	</div>


<div class="d-flex align-items-center justify-content-center scroll top-margin bot-margin">
	<ul id="myUL-story">
	  <% @stories.each do |story| %>
  		<li>
        <%= link_to story_path(story) do %>
  				<div class="info-story">
              <div class="title"><%= story.title.capitalize %></div>
              <div class="d-flex date">
                <%= story.date&.strftime("%B %e, %Y ") %>
                <div>
                  <% story.contacts.take(3).each do |contact|%>
                    <%= cl_image_tag contact.photo.key, class: "contacts-pictures" %>
                  <% end %>
                </div>
              </div>
          </div>
        <% end %>
  		</li>
	  <% end %>
	</ul>
</div>






<div class="footer">
    <div class="button-center">
      <%= link_to new_story_path do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>

    <div class="footer-content">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
      <%= link_to contacts_path do %>
        <i class="fas fa-user"></i>
      <% end %>
    </div>
  </div>







<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL-story");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}
</script>
