<div class="chevron">
  <%= link_to stories_path do %>
    <div>
      <i class="fas fa-chevron-left"></i>
    </div>
  <% end %>
</div>
<h2 class="page-title">Create a memory</h2>



<div class="full-screen">
	<%= simple_form_for [@story] do |f| %>
		<%= f.input :title, as: :text, required: false  %>
<<<<<<< HEAD
		<%= select_tag "contacts", options_from_collection_for_select(
=======
		<%= f.input :date, as: :date %>

		<%= f.input :description, as: :text, required: false %>
		<%= f.input :photos, as: :file, :input_html => { :multiple => true } %>
		<%#= f.input :contact, as: :select2, collection: Contact.all, multiple: true %>

		<%= select_tag "contact_id", options_from_collection_for_select(
>>>>>>> ac7a2d5b19c2dbd8113ce605b7c4d8a5f8046eb5
	      Contact.all.
	     	sort_by { |user| user.first_name },
	     :first_name, :first_name),
	      class: 'select2', multiple: true %>
<<<<<<< HEAD
		<%= f.input :date, as: :date %>
		<%= f.input :description, as: :text, required: false %>
		<div class="filesup">
			
		<%= f.input :photos, as: :file, :input_html => { :multiple => true } %>
=======


			<!-- 	<legend class="col-form-label pt-0">Contacts</legend>
		<div class="friends">
			<fieldset class="form-group">
				<input type="hidden" name="story[contact_ids][]" value="">
				<div class="form-check">
					<% Contact.all.order('first_name ASC').each do |contact| %>
					<input class="form-check-input check_boxes optional" type="checkbox" value="<%= contact.id %>" name="story[contact_ids][]" id="story_contact_ids_<%= contact.id %>">

					<label for="story_contact_ids_<%= contact.id %>">
						<%= contact.first_name.capitalize %> <%= contact.last_name.capitalize %>
					</label>
					<br>
					<% end %>
				</div>
			</fieldset>
>>>>>>> ac7a2d5b19c2dbd8113ce605b7c4d8a5f8046eb5
		</div>

		<div class="footer">
		    <div class="button-center">
				<a href="#" onclick="document.getElementById('new_story').submit();"><i class="fas fa-save"></i></a>
		    </div>

		    <div class="footer-content">
		    	<%= link_to pages_welcome_path do %>
		        	<i class="fas fa-home"></i>
		    	<% end %>
				<%= link_to contacts_path do %>
					<i class="fas fa-user"></i>
				<% end %>
		    </div>
		</div>
	<% end %>
</div>
