<div class="full-screen">
<h2 class="search-contact">Create a memory</h2>
	<%= simple_form_for [@story] do |f| %>
		<%= f.input :title, as: :text, required: false  %>
		<%= f.input :date, as: :date %>
		
		<%= f.input :description, as: :text, required: false %>
		<%= f.input :photos, as: :file, :input_html => { :multiple => true } %>


	<fieldset class="form-group">
		<legend class="col-form-label pt-0">Contacts</legend>
		<input type="hidden" name="story[contact_ids][]" value="">
		<div class="form-check">
			<% Contact.all.order('first_name ASC').take(5).each do |contact| %>
			<input class="form-check-input check_boxes optional" type="checkbox" value="<%= contact.id %>" name="story[contact_ids][]" id="story_contact_ids_<%= contact.id %>">
			
			<label for="story_contact_ids_<%= contact.id %>">
				<%= contact.first_name.capitalize %> <%= contact.last_name.capitalize %>
			</label>
			<br>
			<% end %>
		</div>
	</fieldset>
		



	<!--  <div class="d-flex align-items-center justify-content-center scroll top-margin bot-margin">
		<ul id="myUL">
			<% Contact.all.take(3).each do |contact| %>
				<a><%= contact.first_name.capitalize %> <%= contact.last_name.capitalize %></a>
			    	<div>
			    		<%= simple_form_for contact do |f| %>
			    			<%= f.hidden_field :contact_id, value: contact.id %>
				  	  		<%= f.submit "Add", class: "submit" %>
			  			<% end %>
			    	</div>
				</li>
			<% end %>
		</ul>
	</div> -->


		<div class="footer">
		    <div class="button-center">
			<%= f.submit "", class: "fas fa-save" %>
		    </div>

		    <div class="footer-content">
		      <%= link_to root_path do %>
		        <i class="fas fa-home"></i>
		      <% end %>
		      <%= link_to contacts_path do %>
		        <i class="fas fa-user"></i>
		      <% end %>
		    </div>
		</div>
	<% end %>
</div>
