<div class="chevron">
  <%= link_to stories_path do %>
    <div>
      <i class="fas fa-chevron-left"></i>
    </div>
  <% end %>
</div>
<h2 class="page-title">Create a memory</h2>



<div class="full-screen">
	<%= simple_form_for [@story] do |f| %>
		<%= f.input :title, as: :string, required: false, label: false, placeholder: "Sarah's birthday at Kevin's!" %>
		<%= select_tag "contacts", options_from_collection_for_select(
	      Contact.all.
	     	sort_by { |user| user.first_name },
	     :first_name, :first_name),
	      class: 'select2', multiple: true %>
		<%= f.input :date, as: :date, label: false %>
		<%= f.input :description, as: :text, required: false, label: false, placeholder: "How was it?" %>
		<%= f.input :photos, as: :file, :input_html => { :multiple => true } %>

		</div>

		<div class="footer">
		    <div class="button-center">
		    	<%= link_to @story_path do %>
				<a href="#" onclick="document.getElementById('new_story').submit();"><i class="fas fa-save"></i></a>
				<% end %>
		    </div>

		    <div class="footer-content">
		    	<%= link_to pages_welcome_path do %>
		        	<i class="fas fa-home"></i>
		    	<% end %>
				<%= link_to contacts_path do %>
					<i class="fas fa-user"></i>
				<% end %>
		    </div>
		</div>
	<% end %>
</div>
