<div class="chevron">
  <%= link_to stories_path do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>
  <%= link_to story_path(@story), method: :delete do %>
    <i class="fas fa-times"></i>
  <% end %>
</div>

<div class="info-story-show d-flex">
  <h4><strong><%= @story.title.capitalize %></strong></h4>
  <%= @story.date&.strftime("%B %e, %Y ") %>

  <div class="story-contacts d-flex">
    <% @story.memories.each do |memory|%>
      <%= link_to contact_path(Contact.find(memory.contact_id)) do %>
        <%= cl_image_tag Contact.find(memory.contact_id).photo.key, class: "contacts-pictures" %>
      <% end %>
    <% end %>

    <%= link_to new_story_memory_path(@story) do  %>
      <div class="add"><i class="fas fa-plus-circle"></i></div>
    <% end %>
  </div>
</div>


<div class="background-story">
  <div class="boxes">

    <div class="box">
      <strong>STORY</strong>
      <div class="text-story">
        <%= @story.description %>
      </div>
    </div>

    <div class="box">
      <strong>PICTURES</strong>
      <div class="story-pictures">
        <% @story.photos.each do |photo|%>
            <%= cl_image_tag photo.key%>
        <% end %>
      </div>
    </div>




  <div class="footer">
    <div class="button-center">
      <%= link_to edit_story_path(@story) do %>
        <i class="fas fa-pen"></i>
      <% end %>
    </div>

    <div class="footer-content">
      <%= link_to pages_welcome_path do %>
        <i class="fas fa-home"></i>
      <% end %>
      <%= link_to contacts_path do %>
        <i class="fas fa-user"></i>
      <% end %>
    </div>
  </div>
</div>
