<div class="chevron">
  <%= link_to stories_path do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>
</div>

<div class="info-story-show">

  <div class="title-story">
      <h2><%= @story.title %></h2>
      <p>Feb 14, 2020</p>
  </div>

  <div class="story-contacts">
    <% @memories.each do |memory| %>
        <%= link_to contact_path(Contact.find(memory.contact_id)) do %>
          <% begin %>
            <%= cl_image_tag Contact.find(memory.contact_id).photo.key, class: "picture-index" %>
          <% rescue %>
              <img src="https://vignette.wikia.nocookie.net/real-life-heroes/images/2/2c/Michael_Jackson.jpg/revision/latest?cb=20191122190551" class="picture-index">
          <% end %>
        <% end %>
    <% end  %>


  </div>

    <%= link_to new_story_memory_path(@story) do  %>
      <div class="button-round"><div>+</div></div>
    <% end %>

</div>


<p>Description : <%= @story.description %></p>



