<div class="chevron">
  <%= link_to stories_path do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>
</div>

<div class="info-story-show">

  <div class="title-story">
      <h4><strong><%= @story.title %></strong></h4>
      <p>Feb 14, 2020</p>
  </div>

  <div class="story-contacts">
    <% @memories.each do |memory| %>
        <%= link_to contact_path(Contact.find(memory.contact_id)) do %>
          <% begin %>
            <%= cl_image_tag Contact.find(memory.contact_id).photo.key, class: "picture-index" %>
          <% rescue %>
              <img src="https://vignette.wikia.nocookie.net/real-life-heroes/images/2/2c/Michael_Jackson.jpg/revision/latest?cb=20191122190551" class="picture-index">
          <% end %>
        <% end %>
    <% end  %>


  </div>

    <%= link_to new_story_memory_path(@story) do  %>
      <div class="add"><i class="fas fa-plus-circle"></i></div>
    <% end %>
</div>


<div class="background-story">
  <div class="boxes">

    <div class="box">
      <div class="actions">
        <strong>DESCRIPTION</strong>
        <%= link_to root_path do %>
          <div class="add"><i class="fas fa-plus-circle"></i></div>
        <% end %>
      </div>

      <div class="text-story">
      <%= @story.description %>
      <p>When Mark tried to go and meet the AIRBNB host, he felt and everyone was shocked, but it was OK then the host offered us ice cream (so Mark would feel better). The ice cream tasted like CHEESE. We didn't know if it was really a new chef in town or if it was not supposed to taste like cheese. We'll always have this doubt in our lives. We couldn't stop laughing.</p>
      </div>
    </div>

    <div class="box">
      <div class="actions">
        <strong>FILES</strong>
        <%= link_to root_path do %>
          <div class="add"><i class="fas fa-plus-circle"></i></div>
        <% end %>
      </div>

      <div class="files-story">
        <div class="box-files">

        </div>
        <div class="box-files">

        </div>
      </div>
    </div>


  </div>



  <div class="footer">
    <div class="button-center">
      <%= link_to root_path do %>
        <i class="fas fa-user-edit"></i>
      <% end %>
    </div>

    <div class="footer-content">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i>
      <% end %>
      <%= link_to contacts_path do %>
        <i class="fas fa-user"></i>
      <% end %>
    </div>
  </div>
</div>



